/* * 浏览器支持 * */
table.browsersupport {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  th {
    color: #333333;
    font-weight: 400;
    width: 20%;
    padding: 0;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    background-color: #F5F5F5;
    border: 1px solid #ddd;
  }
  tr {
    width: 100%;
  }
  td {
    text-align: center;
    height: 86px;
    width: 86px;
    vertical-align: middle;
    background: no-repeat center;
    border: 1px solid #ddd;
    &.bsProperty {
      font-family: courier new;
      white-space: nowrap;
      width: 20%;
    }
  }
  .bsIE {
    background-image: url('https://www.w3school.com.cn/ui2017/compatible_ie.png');
  }
  .bsFirefox {
    background-image: url('https://www.w3school.com.cn/ui2017/compatible_firefox.png');
  }
  .bsChrome {
    background-image: url('https://www.w3school.com.cn/ui2017/compatible_chrome.png');
  }
  .bsSafari {
    background-image: url('https://www.w3school.com.cn/ui2017/compatible_safari.png');
  }
  .bsOpera {
    background-image: url('https://www.w3school.com.cn/ui2017/compatible_opera.png');
  }
  .bsNoIE {
    background-image: url('https://www.w3school.com.cn/ui2017/incompatible_ie.png');
  }
  .bsNoFirefox {
    background-image: url('https://www.w3school.com.cn/ui2017/incompatible_firefox.png');
  }
  .bsNoChrome {
    background-image: url('https://www.w3school.com.cn/ui2017/incompatible_chrome.png');
  }
  .bsNoSafari {
    background-image: url('https://www.w3school.com.cn/ui2017/incompatible_safari.png');
  }
  .bsNoOpera {
    background-image: url('https://www.w3school.com.cn/ui2017/incompatible_opera.png');
  }
  .bsPreIE {
    background-image: url('https://www.w3school.com.cn/i/precompatible_ie.gif');
  }
  .bsPreFirefox {
    background-image: url('https://www.w3school.com.cn/i/precompatible_firefox.gif');
  }
  .bsPreChrome {
    background-image: url('https://www.w3school.com.cn/i/precompatible_chrome.gif');
  }
  .bsPreSafari {
    background-image: url('https://www.w3school.com.cn/i/precompatible_safari.gif');
  }
  .bsPreOpera {
    background-image: url('https://www.w3school.com.cn/i/precompatible_opera.gif');
  }
  .browser_version {
    td {
      padding: 0;
      height: 36px;
      vertical-align: middle;
      text-align: center;
      background-color: #F5F5F5;
      border: 1px solid #ddd;
    }
  }
  .browsericons {
    color: #000;
    text-shadow: 1px 1px 0px white;
    font-weight: bold;
  }
}
